<head>
    <meta charset="utf-8">
    <link rel="icon" href='{{ "favicon.ico" | relURL }}' sizes="48x48">
    <link rel="icon" href='{{ "favicon.svg" | relURL }}' type="image/svg+xml">
    <link rel="apple-touch-icon" href='{{ "apple-touch-icon.png" | relURL }}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{- if eq .Kind "home" -}}
            {{- print .Site.Title -}}
        {{- else if eq .Kind "section" -}}
            {{- print .CurrentSection.Title " - " .Site.Title }}
        {{- else -}}
            {{- print .Title " - " .Site.Title -}}
        {{- end -}}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,600;0,9..144,700;0,9..144,800;1,9..144,400&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">

    {{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{- end -}}

    {{ with .Description }}
    <meta name="description" content="{{ . }}" />
    {{ end }}

    {{ with .Keywords }}
    <meta name="keywords" content="{{ delimit . "," }}" />
    {{ end }}

    {{ with (.Store.Get "params").author_name }}
    <meta name="author" content="{{ . }}" />
    {{ end }}

    {{ if (.Store.Get "params").enable_open_graph }}
        {{ partial "opengraph.html" . }}
    {{ end }}

    {{ if (.Store.Get "params").enable_twitter_cards }}
        {{ partial "twitter_cards.html" . }}
    {{ end }}

    {{- partial "resources/css.html" . -}}

    {{ if (.Store.Get "params").ga_code }}
        {{ partial "google_analytics.html" . }}
    {{ end }}

    <script>
        const goferThemeDefault = "{{ (.Store.Get "params").color_scheme }}";
        if (!("theme" in localStorage) && (goferThemeDefault === "light" || goferThemeDefault === "dark")) {
            localStorage.theme = goferThemeDefault;
        }

        if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
            document.documentElement.setAttribute("data-theme", "dark");
        } else {
            document.documentElement.setAttribute("data-theme", "light");
        }
    </script>

    {{- partial "resources/js.html" . -}}

    {{ if fileExists "/static/user.css" -}}
        <link rel="stylesheet" href="{{ "user.css" | relURL }}">
    {{- end }}

    {{ if templates.Exists "_partials/user_head.html" -}}
        {{ partial "user_head.html" . }}
    {{- end }}
</head>
